@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');



/*Font*/
$as-font-alt:			'Hind', sans-serif;
$as-font-main:			'Hind', sans-serif;

body { font-family:$as-font-main; font-size: 15px; line-height: 1.8 }