@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');


/*Font*/
$as-font-alt:			'Quicksand', sans-serif;
$as-font-main:			'Quicksand', sans-serif;

body { font-family:$as-font-main; font-weight: 500; }