@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');


/*Font*/
$as-font-alt:			'Nunito', sans-serif;
$as-font-main:			'Nunito', sans-serif;

body { font-family:$as-font-main; font-size: 15px; line-height: 1.7 }