.wk_message_thread {
    display: None;
    .o_portal_chatter{
        display: none;
    }
    .o_portal_chatter_header {
        display: none;
    }
    .o_portal_chatter_composer {
        display: none;
    }
    .o_portal_chatter_messages {
        display: none;
    }
}