.notebook-list{
    font-size: 20px;
    margin: 10px 1px 0px 0px;
    padding-bottom: 5px;
    border-bottom: solid 5px rgb(110,200,155) !important;
}

.notebook-button{
    margin: 0px 1px 0px 0px;
    line-height: 32px;
    padding: 10px 13px;
    border: solid 0px !important;
    background: rgb(224,224,224);
}

.notebook-button.highlight{
    margin: 0px 1px 0px 0px;
    line-height: 32px;
    padding: 10px 13px;
    background: #6EC89B !important;
    border: solid 0px #64AF8A !important;
    color: white !important;
}

.pos .clientlist-screen .client-details {
    padding: 16px 0px 16px 16px !important;
    border-bottom: solid 5px rgb(110,200,155);
}

.tree-view-receipt th {
    vertical-align: top;
    width: 18%;
}
.tree-view-receipt p {
    font-weight: normal;
}

.warning {
    background-color: #ffdddd!important;
}

.popup-receipt {
    width: 800px !important;
    padding-bottom: 55px;
}
.popup-receipt .body {
    overflow: scroll;
    height: 310px;
}

.popup-packlot {
    width: 800px !important;
}

.pos .clientlist-screen .client-details {
    padding: 16px 0px 16px 16px !important;
    border-bottom: solid 0px rgb(110,200,155) !important;
}

.receipt-button{
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

.sub-delivery .button.state_changer {
    border: 1px solid #cecece;
    background-color: #e6e6e6;
    padding: 5px;
    margin-right: 5px;
    color: #555555;
}
