/*  ********* Chat screen's style ********* */

.screen .screen-content{
    margin: 0px auto;
    max-width: 1024px;
    text-align: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.screen .full-content .chat_window .white-space
{
    height: 400px;
    width: 100%;
}

.screen .full-content .chat_window .input-text
{
    background-color: white;
    height: 80px;
    width: 100%;
}

.screen .full-content .chat_window .white-space-below
{
    height: 56px;
    width: 100%;
}

.pos .modal-dialog .popup{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width:500px;
    height:400px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: white;
    border-radius: 3px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
    z-index:1200;
    font-family: 'Lato';
    font-family: Lato;
}

.pos .modal-dialog .popup .Label{
    margin-top: 10px;
}

.pos .modal-dialog .popup .text-input-place{
    margin-top: 350px;
    height: 22px;
    border-bottom: 2px solid green;
}

.pos .modal-dialog .button.next{
    margin-top: 350px;
}

.pos .modal-dialog .button.back{
    margin-top: 350px;
}

.game-message{
    position: relative;
    font-size: 16px;
    font-family: Arial, sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
}

.pos .modal-dialog .text-right.small{
    text-align: left;
    margin-left: 10px;
}


/*  ********* The custom screen widget  ********* */
.pos .main-action{
    position: absolute;
    top: 60px;
    bottom: 100px;
    left: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.pos .chat-tools{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 40%;
    justify-content: center;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.pos .chat-tools .button.back{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background: #e2e2e2;
    border: solid 1px #bfbfbf;
    display: inline-block;
    line-height: 38px;
    min-width: 80px;
    text-align: center;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 18px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 150ms;
}

.pos .chat-tools .button.next:active{
    color: white;
    transition-duration: 0.2s;
}

.pos .chat-tools .button.back:active{
    color: white;
    transition-duration: 0.2s;]
}

.pos .chat-tools .button.next{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background: #e2e2e2;
    border: solid 1px #bfbfbf;
    display: inline-block;
    line-height: 38px;
    min-width: 80px;
    text-align: center;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 18px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 150ms;
}

.pos .chat-tools .button.next:hover{
    background: #2db34a;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border-radius: 30px;
    transform: translateY(-4px);
}

.pos .chat-tools .button.back:hover{
    background: red;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    border-radius: 30px;
    transform: translateY(-4px);
}

.pos .chat-tools .text-input-place:focus{
    border-radius: 5px;
    transform: translateY(-5px);
}

.pos .chat-tools .text-input-place:hover{
    border-radius: 5px;
    transition-duration: 0.5s;
}

.pos .chat-tools .text-input-place{
    resize: none;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.pos .user-name{
    background: #a9a9ff;
    border-radius: 30%;
    text-align: center;
    width: 100px;
    color: white;
}

.pos .game-button:hover{
    background: #2db34a;
    transition-timing-function: linear;
    border-radius: 30px;
    transform: translateY(-4px);
    color: white;
    transition-duration: 0.2s;
}

.pos .game-button:active{
    color: white;
    transition-duration: 0.2s;
}

.pos .game-button{
    -webkit-flex-grow: 1;
    position: relative;
    flex-grow: 1;
    background: #e2e2e2;
    border: solid 1px #bfbfbf;
    display: inline-block;
    line-height: 38px;
    min-width: 80px;
    text-align: center;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 18px;
    color: #555c6c;
    margin-top: 20px;
    margin-left: 20px;
    transition: all .3s ease-in-out;
}

.card{
    position: absolute;
    bottom: -30px;
    width: 75px;
    height: 150px;
    transition: all .3s ease-in-out;
}

.card:hover{
    transform: translateY(-20%);
    transition-duration: 0.2s;
}

.tips{
    position: absolute;
    top: 0%;
    left: 50%;
    font-size: 24px;
    color: #b819ff;
    transition: all .3s ease-in-out;
}

.enemy-card{
    position: absolute;
    width: 75px;
    height: 150px;
    top: 50%;
    left: -75px;
    transition: all .3s ease-in-out;
}

#take-button{
    position: absolute;
    right: 30px;
    top: 30px;
}

.game-tools{
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

#triangle{
    position: relative;
    border-right: 10px solid;
    border-bottom: 10px solid;
    height: 50%;
    width: 20%;
    left: -20%;
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
}

.chat-user{
    position: absolute;
    transition: transform .3s ease-in-out;
}

.cards-counter{
    position: relative;
    width: 15px;
    height: 25px;
    margin-left: 5px;
}

#step-button{
    position: absolute;
    right: 30px;
    top: 60px;
}