.floor-map .table .table-seats {
	background: none;
	color: black;
}

.pos .actionpad .button.pay {
    height: 108px;
}

.floor-map .table .table-seats {
    background: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-left: -30px;
}
